<div class="modal-dialog modal-centered" id="accordionModal">
  <div class="modal-content" >
    <div class="modal-body">
      <div class="row">
        <div class="col col-11">
          <h5 class="modal-title">Gestión de Contactos</h5>
        </div>
        <div class="col col-1">
          <button
            type="button"
            class="btn-close d-flex justify-content-end"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
      </div>

      <ul class="nav nav-tabs nav-fill dark">
        <li class="nav-item">
          <a
            class="nav-link white"
            data-bs-toggle="collapse"
            href="#Collapse1"
            role="button"
            aria-expanded="true"
            aria-controls="Collapse1"
            data-bs-parent="#accordionModal"
          >
            Agregar Contacto <i class="bi bi-person-fill-add"></i>
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link white"
            data-bs-toggle="collapse"
            href="#Collapse2"
            role="button"
            aria-expanded="false"
            aria-controls="Collapse2"
            data-bs-parent="#accordionModal"
          >
            Editar Contacto <i class="bi bi-person-fill-gear"></i>
          </a>
        </li>
      </ul>
      <div class="row">
        <div
          class="accordion-collapse collapse show"
          id="Collapse1"
          data-bs-parent="#accordionModal"
        >
          <app-form-create></app-form-create>
        </div>
        <div
          class="accordion-collapse collapse"
          id="Collapse2"
          data-bs-parent="#accordionModal"
        >
          <app-form-update></app-form-update>
        </div>
      </div>
    </div>
  </div>
</div>
