<div class="modal-dialog modal-lg">
    <div class="modal-content" id="accordionP">
      <div class="modal-body">
        <div class="row">
          <div class="col col-11">
            <h5 class="modal-title">Instrucciones de Uso</h5>
          </div>
          <div class="col col-1">
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
        </div>
  
        <ul class="nav nav-tabs nav-fill dark mt-3">
          <li class="nav-item">
            <a
              class="nav-link white"
              data-bs-toggle="collapse"
              data-bs-target="#Collapse1"
              href="#Collapse1"
              role="button"
              aria-expanded="false"
              aria-controls="Collapse1"
            >
              Gestion de Contactos 
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link white"
              data-bs-toggle="collapse"
              data-bs-target="#Collapse2"
              href="#Collapse2"
              role="button"
              aria-expanded="false"
              aria-controls="Collapse2"
            >
              Operaciones de Balance 
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link white"
              data-bs-toggle="collapse"
              data-bs-target="#Collapse3"
              href="#Collapse3"
              role="button"
              aria-expanded="false"
              aria-controls="Collapse3"
            >
              Información de Contacto
            </a>
          </li>
        </ul>
        <div class="row">
          <div
            class="accordion-collapse collapse show"
            id="Collapse1"
            data-bs-parent="#accordionP"
          >


          </div>
          <div
            class="accordion-collapse collapse"
            id="Collapse2"
            data-bs-parent="#accordionP"
          >


          </div>
          <div
            class="accordion-collapse collapse"
            id="Collapse3"
            data-bs-parent="#accordionP"
          >


          </div>
        </div>
      </div>
    </div>
  </div>
