<div class="modal-dialog modal-lg ">
  <div class="modal-content" id="accordionP">
    <div class="modal-body">
      <div class="row">
        <div class="col col-11">
          <h5 class="modal-title">Operaciones de Balance</h5>
        </div>
        <div class="col col-1 d-flex justify-content-end">
          <button
            type="button"
            class="btn-close d-flex justify-content-end"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
      </div>
      <app-gestionar></app-gestionar>
    </div>
  </div>
</div>
