<div class="row mt-3">
  <div class="col-12">
    <select
      class="form-select"
      [(ngModel)]="idSelect"
      (focus)="onFocus()"
      (change)="onContactSelect($event)"
    >
      <option [ngValue]="null">-- Seleccionar contacto --</option>
      <option *ngFor="let item of contacts; let i = index" [ngValue]="item">
        {{ item.name }} - Balance: {{ item.balance }}
      </option>
    </select>
    <div
      *ngIf="alertMessage"
      [ngClass]="alertClass"
      class="alert d-flex align-items-center mt-3"
      role="alert"
    >
      <i [ngClass]="alertIcon" class="me-2"></i>
      <div>{{ alertMessage }}</div>
    </div>
  </div>

  <div class="col-12 mt-3">
    <form
      [formGroup]="operationForm"
      (ngSubmit)="onSubmit()"
      class="card-body row"
    >
      <div class="col-5 form-group">
        <label for="tipo">Tipo</label>
        <select class="form-select" formControlName="type">
          <option value="PAGAR">PAGAR</option>
          <option value="COBRAR">COBRAR</option>
        </select>
      </div>

      <div class="col-5 form-group">
        <label for="amount">Monto</label>
        <input
          type="number"
          id="amount"
          class="form-control"
          formControlName="amount"
          [ngClass]="{ 'is-invalid': submitted && f['amount'].errors }"
        />
        <div *ngIf="submitted && f['amount'].errors" class="invalid-feedback">
          <div *ngIf="f['amount'].errors['required']">Este campo es obligatorio</div>
          <div *ngIf="f['amount'].errors['min']">El monto debe ser mayor que 0.01</div>
        </div>
      </div>

      <div class="col-2 form-group">
        <button type="submit" class="btn btn-success">
          Realizar Operación
        </button>
      </div>
    </form>
  </div>

  <div class="col-12">
    <table class="table table-sm table-dark mt-4" *ngIf="operations.length > 0">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Tipo</th>
          <th scope="col">Monto</th>
          <th scope="col">Fecha</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let operation of operations; let i = index">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ operation.type }}</td>
          <td>{{ operation.amount | number : "1.2-2" }}</td>
          <td>{{ operation.createdAt.split("T")[0] }}</td>
        </tr>
      </tbody>
    </table>

    <div
      *ngIf="idSelect && operations.length === 0"
      class="alert alert-warning d-flex align-items-center mt-3"
      role="alert"
    >
      <i class="bi bi-exclamation-triangle-fill me-2"></i>
      <div>No hay operaciones que mostrar</div>
    </div>
  </div>
</div>
