<form >
    <div class="form-group">
        <label for="inputName">Nombre</label>
        <input type="text" class="form-control" formControlName="inputName" id="inputName" placeholder="Juan Perez">
      </div>
    <div class="form-group">
      <label for="inputEmail">Email</label>
      <input type="email" class="form-control" formControlName="inputEmail" id="inputEmail" placeholder="ejemplo123@gmail.com" disabled>
    </div>
    <div class="form-group">
        <label for="inputBalance">Balance</label>
        <input type="number" class="form-control" formControlName="inputbalance" id="inputBalance" placeholder="0" disabled>
      </div>
    <button type="submit" class="btn btn-success">Agregar</button>
</form>