<div class="hero-container">
    <h1 class="display-4 fw-bold">
      Have a look <span class="text-highlight">Around!</span>
    </h1>
    <p class="lead">
      And you will find everything you need to build a great looking website
    </p>
  
    <div class="spheres-container">
      <!-- Primera esfera -->
      <button
        class="sphere-button btn btn-primary"
        type="button"
        data-bs-toggle="modal"
        data-bs-target="#contacto"
      >
        <div class="row">
          <i class="bi bi-person-video2 display-1"></i>
          <h2>Gestión de Contactos</h2>
        </div>
      </button>
  
      <div
        class="modal fade"
        id="contacto"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <app-modal></app-modal>
      </div>
  
      <!-- Segunda esfera  -->
      <button
        class="sphere-button btn btn-success"
        (click)="onSphereClick('Business')"
      >
        <div class="row">
          <i class="bi bi-cash-coin display-1"></i>
          <h2>Operaciones de Balance</h2>
        </div>
      </button>
  
      <!-- Tercera esfera -->
      <button
        class="sphere-button btn btn-danger"
        (click)="onSphereClick('Business')"
      >
        <div class="row">
          <i class="bi bi-person-circle display-1"></i>
          <h2>Información de Contacto</h2>
        </div>
      </button>
    </div>
  </div>
  
